.base-exchange-select {
  background: transparent;
  border: 1px solid $gray-10;
  font-size: 14px;
  height: 30px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 150px;
}
